<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <p>&copy; AML Lab (The Applied Machine Learning Lab).</p>
        </div>
        <div class="col-sm-4">
          Contact:<br />
          Lau Ming Wai Academic Building<br />
          City University of Hong Kong<br />
          Hong Kong<br />
          (<a href="https://goo.gl/maps/sZq8pGfQ8jF7Y5rz9">See us on Google Maps</a>)<br />
          MONTERY PLAZA 21/F, Room B<br />
          Hong Kong<br />
          (<a href="https://www.google.com/maps/place/Montery+Plaza/@22.3136655,114.2174365,17z/data=!4m10!1m2!2m1!1z5LiH5rOw5Yip5bm_5Zy6MjHlsYJC5a6k!3m6!1s0x34040148c6a92cab:0xf49119150b5259ad!8m2!3d22.3136655!4d114.2200168!15sChjkuIfms7DliKnlub_lnLoyMeWxgkLlrqSSAQ9idXNpbmVzc19jZW50ZXLgAQA!16s%2Fg%2F11cmffh239?entry=ttu&g_ep=EgoyMDI0MDkxOC4xIKXMDSoASAFQAw%3D%3D">See us on Google Maps</a>)
        </div>
        <div class="col-sm-4">
          <p>Website layout adapted from <a href="http://www.allanlab.org/">The Allan Lab</a>'s template.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
