<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <p>&copy; Huang-TOMC Lab.</p>
        </div>
        <div class="col-sm-4">
          通讯/办公地址:<br />
          中国科学技术大学东校区环境资源楼638B<br />
          邮箱:<br />
          hanmin@ustc.edu.cn<br />
        </div>
        <div class="col-sm-4">
          <p>Website layout adapted from <a href="http://www.allanlab.org/">The Allan Lab</a>'s template.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
