---
layout: default
---

  <div id="profhuangphotoid" class="col-sm-4" >
    <img src="{{ site.url }}{{ site.baseurl }}/images/teampic/prof_huang.jpg" class="img-responsive" style="width: 100%; border-radius: 10px;" />
      <strong>Work Address: </strong> University of Science and Technology of China, Hefei, Anhui<br/>
      <strong>Telephone: </strong> 0551-63600752<br/>
      <strong>Email: </strong> hanmin@ustc.edu.cn<br/>
  </div>

  <div id="profhuangid" class="col-sm-8">
	{{ content }}
  </div>

